/*misc*/
.vg_uppercase{ text-transform:uppercase; }
.vg_lowercase{ text-transform:lowercase; }
.vg_underline:hover{ text-decoration:underline; }
.vg_nounderline:hover, .vg_nounderline:focus{ text-decoration:none; }
.vg_margintop{ margin-top:10px; }
.vg_marginbottom{ margin-bottom:10px; }
.vg_carousel_show_title_1{
	margin-top:-60px;
}
#vg-footer p, #vg-footer div, #vg-footer ul{ color:#fff; }
.met_recent_work_item{ min-height:95px; }

/*component*/
.homepage .met_blog_miscs{ display:none; }

/*alerts*/
.vg-alert{ color:#ff0000; padding:10px; background:rgba(255,255,255,0.8); }
.vg-onepage-modules{ color:#fff; background:#ff0000; padding:8px 15px; }
	.vg-onepage-modules strong{ font-style:italic; }

/*404*/
#home-404{ background:url(../images/404.jpg) no-repeat center center; }
	#vg-mainbody-404{ margin:0 auto; text-align:center; color:#fff; }
		#vg-mainbody-404 a{ color:#FF675B; text-decoration:none; font-size:12px; text-transform:uppercase; }
		#vg-mainbody-404 h1{ font-size:10em; font-weight:bold; }

/*mobile menu*/
#menu-list-mobile{ margin:0 auto; width:70%; }
#menu-list-mobile option{ color:#333; }

/*inner*/
#vg-inner p{ margin-top:10px; }
#vg-inner p, #vg-inner div{ color:#fff; }

/*footer*/
#vg-footer a{ color:#fff; }

/*twitter*/
.met_twitter_widget .sp-tweet-even{ background:none; }
.met_twitter_widget .met_twitter_item{ padding-bottom: 20px; }
.met_twitter_widget .sp-tweet-first{ border-top:none; padding-top: 0; }
.met_twitter_widget .sp-tweet-item{ font-size: 12px; line-height: 17px; border-bottom:0; }
.met_twitter_widget a{ color:#fff; }
.met_twitter_widget .sp-tweet-item img.tweet-avatar{ margin:2px 15px 45px 0 !important; background:none; border:none; }

/*articles*/
.vg-article-title, .vg-article-title a, .blog h2, .blog h2 a, .blog h3, .vg-article-details h2, .vg-article-details h2 a{ padding-top: 5px; font-weight: 900; text-transform: uppercase; text-align:left; }
	.vg-article-title a:hover, .blog h2 a:hover, ul li a, ol li a, .readmore a{  }
ul li a:hover, ol li a:hover, .readmore a:hover{  }
.readmore{ margin-top:20px; }
	.readmore a{ font-weight:bold; text-transform:uppercase; font-size:15px; }
.vg-article-heading{ margin-bottom:50px; }
.item-page h1, .blog h1{ font-size:50px; }
.met_team_member_details h2.met_title_stack{ font-weight:normal; }
.item-page .page-header h2, .blog .page-header h2{ font-size:23px; }
.blog-featured .page-header h2{ font-weight:normal; }
.page-header h2{ margin-top: 20px; }
h2 a, h2{ text-transform:uppercase; }
.item-page a, .blog a{  }
.pagination{ margin-top:40px; }
.pagination ul{ margin-left:0px; }
.pagination ul li{ list-style:none; float:left;  }
.pagination ul .pagination-start, .pagination ul .pagination-end{  }
.pagination ul li span, .pagination ul li a{ display:inline-block; width:auto; font-size: 13px; }
.pagenav{ margin-left:0px; padding-top:60px; }
.pagenav li{ list-style:none; display:inline; }
.pagenav li.pagenav-prev{ float:left; }
.pagenav li.pagenav-next{ float:right; }
.pagenav li a, .pagenav li span, .pagination ul li a, .pagination ul li span{ border:0; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; }
.pagenav li a, .pagination ul li a{ color:#fff; font-size: 17px; font-weight: normal; padding: 10px 18px; }
.pagination ul li a{ border-right:1px solid #fff; }
.pagination ul li span{ background-color: #F5F5F5; font-size: 17px; font-weight: normal; padding: 10px 18px; border-right:1px solid #fff; }
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span, 
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span, 
.nav-tabs.nav-stacked > li:first-child > a, 
.nav-tabs.nav-stacked > li:last-child > a{ border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; }
.pagination ul{ box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; -o-box-shadow:none; }
.pagination ul > li > span{  }
.actions{}
.actions li{ list-style:none; float:right; display:inline; margin-left:10px; }
.article-info{ margin-left:-8px; color:#999; margin-bottom:20px; }
.article-info dt, .article-info dd{ list-style:none; display:inline; margin-left:7px; text-transform: uppercase; font-size:12px; color:#999; }
	.article-info a{  }
		.article-info a:hover{  }
/*article - icons*/
.actions .print-icon a{ background:url(../images/print.png) no-repeat; }
.actions .print-icon a img{ opacity:0; filter: alpha(opacity = 0); }
.actions .email-icon a{ background:url(../images/email.png) no-repeat; }
.actions .email-icon a img{ opacity:0; filter: alpha(opacity = 0); }
.leading-0, .leading-1, .leading-2, .leading-3, .leading-4, .leading-5, .leading-6, .leading-7, .leading-8, .leading-8, .leading-9, .leading-10, .leading-11, .leading-12, .leading-13, .leading-14, .leading-15, .items-row, .items-more{ margin-bottom:20px;  }
/*article - columns and rows*/
	/*1 column*/
	.items-leading{}
	.items-leading .img-intro-left img{ max-width:100%; }
	/*2 columns*/
	.cols-2{}
	.cols-2 .column-1, .cols-2 .column-2{  }
	.cols-2 .img-intro-left{ }
	.cols-2 .img-intro-left img{  }
	/*3 columns*/
	.cols-3{}
	.cols-3 .column-1, .cols-3 .column-2, .cols-3 .column-3{ width:50%; float:left; }
	.cols-3 .img-intro-left{ }
	.cols-3 .img-intro-left img{ max-width:33.3%; }
.items-row .item, .items-leading > div{ margin-bottom:60px; }
.vg-slider-in-article{ margin-bottom:50px; }
.item-page{ display:block; }
.img-fulltext-left img, .img-intro-left img{ float:left; margin-right:20px; }
.img-fulltext-right img, .img-intro-right img{ float:right; margin-left:20px; }
.img-fulltext-left{ width:auto; }
.item-image img{ max-width:100%; width:100%; }
.VimeoPlayer, .MapPlayer, .YoutubePlayer{  }
.SoundcloudPlayer{ margin-bottom:20px; }
h2 a.vg-color{ font-size:40px; }
.items-more ol{ margin-left:0px; }
	.items-more ol li{ margin:10px 0; }
.met_blog_socials a:hover{ text-decoration:none; }
.MapPlayer, .SoundcloudPlayer, .YoutubePlayer, .VimeoPlayer{ border:none; }
.met_blog_slider img{ width:100%; }
.met_blog_slider_wrap:after{ content:""; }
.vg-slider-in-article{ display:block; position:relative !important; }
.page-header{ margin-top:0; }
.label-info[href], .badge-info[href]{ text-shadow:none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; font-size: 12px; font-weight: normal; padding: 2px 8px; margin-left:-6px; }
.item-page .pull-right, .item-page .pull-left, .item-page .pull-none{ float:none;  }

/*tags*/
.category.list-striped{ margin-left:0; }
.category.list-striped li{ list-style:none; }
.category.list-striped li h3{}

/*form fields*/
input, textarea, email, button, select, .chzn-container-single .chzn-single{
	border-radius:0 !important; -moz-border-radius:0 !important; -webkit-border-radius:0 !important; -o-border-radius:0 !important;
}
.filter-search-lbl{ float: left; line-height: 25px; margin-right: 10px; }
#filter-search{  }
.tag-category .btn-group .element-invisible{ float:left; line-height: 25px; margin-right: 10px; }
.chzn-container-single .chzn-single span{  }
.btn-toolbar{ border-bottom: 5px solid #787B84; padding-bottom: 20px; }

/*search*/
#searchForm .btn{ padding:5px 21px; }
.search-results .result-category{ color:#999; margin-bottom:5px; font-size:12px; }
.search-results .result-created{ color:#999; margin-bottom:20px; font-size:12px; }
.search-results .result-text{ line-height:18px; }
.badge.badge-info{ font-size:14px; text-shadow:none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; }

/*articles category*/
.met_blog_categories{ margin-bottom:30px; }
.met_blog_categories > ul{ margin-left:0; }

/*tags*/
.tagspopular .tag-name{ border-bottom:none; margin-bottom:15px; padding-bottom:0; float:left; display:inline-block; margin-right:15px; }

/*custom*/
.met_dated_blog_posts article h3{   font-size: 14px; font-weight: 700; line-height: 14px; margin-top: 0; }
.met_dated_blog_posts article{ border-top: 5px solid #787B84; margin-top: 5px; padding-top: 20px; }

/*portfolio*/
.vg_portfolio_module video{ background: #000; height: auto; width: 100%; margin-bottom:-5px; }

/*contact*/
.met_contact_form h3{ text-transform:uppercase; }
.met_contact_map_box { top:149px; }

/*404*/
.page-404-error .vg_component_box h1{ font-size:120px; margin-bottom:20px; margin-top:20px;line-height:120px; }
.page-404-error .vg_component_box{ margin-top:30px; }

/*map*/
#map{overflow:hidden; padding-bottom:550px; position:relative; height:0;}
#map iframe{left:0; top:0; height:100%; width:100%; position:absolute;}
